@import "../../scss/config";

.Products {
  display: flex;
  flex-direction: column;

  &-Sorting {
    margin-bottom: 16px;

    @media screen and (max-width: $break_sm - 1px){
      margin-bottom: 12px;
    }
  }

  &-List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;

    @media screen and (max-width: $break_md - 1px){
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 8px;
    }

    @media screen and (max-width: $break_sm - 1px){
      grid-template-columns: 1fr 1fr;
    }
  }

  &-Button {
    &.Button {
      align-self: center;
      margin-top: 24px;
      padding: 10px 16px;
      
      @media screen and (max-width: $break_sm - 1px){
        margin-top: 12px;
        padding: 8px 14px;
      }

      .Button-Text {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;

        @media screen and (max-width: $break_sm - 1px){
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}