@import "../../scss/config";

.OrderSuccessful {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 368px;

  &-Heading {
    margin: 24px 0;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: $break_sm - 1px){
      margin-top: 0;
      font-size: 12px;
      line-height: 22px;
    }
  }

  &-Image {
    align-self: center;
    width: 80px;
    height: auto;
    margin-bottom: 24px;

    @media screen and (max-width: $break_sm - 1px){
      width: 58px;
    }
  }

  &-Title {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @media screen and (max-width: $break_sm - 1px){
      font-size: 12px;
      line-height: 22px;
    }
  }

  &-Text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 22px;

    @media screen and (max-width: $break_sm - 1px){
      margin-bottom: 14px;
      font-size: 12px;
      line-height: 22px;
    }
  }

  &-OrderInfo {
    display: flex;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 22px;
    color: $dark-gray;
  }

  &-Order {
    &Value {
      margin-left: 7px;
      color: $black;
    }
  }

  &-DateOrder {
    margin-left: auto;

    &Value {
      margin-left: 7px;
      color: $black;
    }
  }

  &-Button {
    &.Button {
      width: 100%;
      
      .Button-Text {
        text-transform: uppercase;
      }
    }
  }
}