@import "../../scss/config";

.ProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  background-color: $light-gray;

  &-Image {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  &-Button {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
  }

  &-Props {
    margin-top: auto;
  }

  &-Name {
    width: 100%;
    margin-top: auto;
    padding: 0 16px;

    @media screen and (max-width: $break_sm - 1px){
      font-size: 10px;
      line-height: 16px;
    }
  }

  &-Price {
    width: 100%;
    padding: 0 16px;
    font-weight: 500;

    @media screen and (max-width: $break_sm - 1px){
      font-size: 10px;
      line-height: 16px;
    }
  }
}