@import "../../scss/config";

.App {
  &-Wrapper {
    &.Wrapper {
      flex-direction: column;

      @media screen and (max-width: $break_md - 1px){
        margin-top: 65px;
      }

      @media screen and (max-width: $break_sm - 1px){
        margin-top: 48px;
      }
    }
  }
}