@import "../../scss/config";

.Logo {
  display: flex;

  &-Link {
    padding: 15px;

    @media screen and (max-width: $break_sm - 1px){
      padding: 10px;
    }
  }

  &-Image {
    height: 34px;
    width: auto;

    @media screen and (max-width: $break_sm - 1px){
      height: 28px;
    }
  }
}