@import "../../scss/config";

.Basket {
  &-Container {
    &.Container {
      max-width: 100%;
    }
  }

  &-Content {
    display: flex;
    flex: 1 1 auto;

    @media screen and (max-width: $break_md - 1px){
      flex-direction: column;
    }

    @media screen and (max-width: $break_sm - 1px){
      min-height: calc(100vh - 48px - 24px - 46px - 24px);
    }
  }

  &-Products {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    @media screen and (max-width: $break_md - 1px){
      margin-bottom: 32px;
    }
  }
}