@import "../../scss/config";

.Wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $fields;

  @media screen and (max-width: $break_md - 1px){
    padding: 0 $fields-md;
  }

  @media screen and (max-width: $break_sm - 1px){
    padding: 0 $fields-sm;
  }
}