@import "../../scss/config";

.Header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid $gray;
  background-color: $white;

  @media screen and (max-width: $break_md - 1px){
    position: fixed;
    top: 0;
    z-index: 100;
  }

  @media screen and (max-width: $break_sm - 1px){
    height: 48px;
  }

  &-Container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $fields;

    @media screen and (max-width: $break_md - 1px){
      padding: 0 $fields-md;
    }

    @media screen and (max-width: $break_sm - 1px){
      padding: 0 $fields-sm;
    }
  }

  &-Logo {
    &.Logo {
      @media screen and (max-width: $break_md - 1px){
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-Navigation {
    margin-left: 24px;
  }

  &-ActionsContainer {
    display: flex;
    margin-left: auto;
  }

  &-Action {
    position: relative;
    display: flex;
    height: 64px;
    min-width: 74px;

    @media screen and (max-width: $break_sm - 1px){
      height: 48px;
      min-width: 58px;
    }

    &_active {
      &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 2px;
        width: 100%;
        z-index: 1000;
        background-color: $black;
      }
    }
  }
}