@import "../../scss/config";

.BasketEmpty {
  display: flex;
  justify-content: center;
  width: 100%;

  &-Container {
    &.Container {
      align-items: center;
    }
  }

  &-Image {
    width: 80px;
    height: auto;
    margin-bottom: 24px;

    @media screen and (max-width: $break_sm - 1px){
      width: 34px;
    }
  }

  &-Text {
    margin-bottom: 36px;

    @media screen and (max-width: $break_sm - 1px){
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 16px;
    }
  }

  &-Button {
    &.Button {
      width: 100%;

      .Button-Text {
        text-transform: uppercase;
      }
    }
  }
}