@import "../../scss/config";

.IconButton {
  display: flex;
  padding: 16px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: $light-gray;
  }

  &:active {
    background-color: darken($light-gray, 5%);
  }

  &-Icon {
    height: 22px;
    width: auto;
  }
}