@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import "reset";
@import "config";


body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: $poppins;
  font-size: $fontsize;
  line-height: $line-height;
  color: $text-color;
  background-color: $white;
}

// убираем прыжки от появления/скрытия полосы прокрутки в декстопной версии
@media screen and (min-width: $break_md){
  html {
    margin-right: calc(-1 * (100vw - 100%));
  }
}