@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import "reset";
@import "config";

//html {
//  margin-right: calc(-1 * (100vw - 100%));
//}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: $poppins;
  font-size: $fontsize;
  line-height: $line-height;
  color: $text-color;
  background-color: $white;
}