@import "../../scss/config";

.ResetPasswordPage {
  &-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 368px;
    margin: 24px 0;
  }

  &-Heading {
    margin: 24px 0;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: $break_sm - 1px){
      margin-top: 0;
      margin-bottom: 18px;
      font-size: 12px;
      line-height: 22px;
    }
  }

  &-Text {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 22px;

    @media screen and (max-width: $break_sm - 1px){
      margin-bottom: 12px;
      font-size: 10px;
      line-height: 16px;
    }
  }

  &-Field {
    &_email {
      margin-top: 16px;
      margin-bottom: 36px;

      @media screen and (max-width: $break_sm - 1px){
        margin-bottom: 42px;
      }

      &.TextField_error {
        margin-bottom: 10px;

        @media screen and (max-width: $break_sm - 1px){
          margin-bottom: 26px;
        }
      }
    }
  }

  &-Button {
    &.Button {
      width: 100%;
    }
  }

  &-BackToLogin {
    display: flex;
    align-items: center;
    margin-top: 18px;

    @media screen and (max-width: $break_sm - 1px){
      margin-top: 9px;
    }
  }

  &-BackToLoginLink {
    margin-left: auto;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: $black;

    @media screen and (max-width: $break_sm - 1px){
      font-size: 10px;
      line-height: 15px;
    }
  }

  &-SentImg {
    align-self: center;
    width: 100px;
    height: auto;
    margin-bottom: 24px;

    @media screen and (max-width: $break_sm - 1px){
      width: 68px;
    }
  }

  &-SentText {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 22px;

    @media screen and (max-width: $break_sm - 1px){
      margin-bottom: 6px;
      font-size: 10px;
      line-height: 16px;
    }
  }

  &-SentEmail {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    @media screen and (max-width: $break_sm - 1px){
      margin-bottom: 14px;
      font-size: 12px;
      line-height: 22px;
    }
  }

  &-SentHint {
    font-size: 12px;
    line-height: 22px;
    color: $dark-gray;

    @media screen and (max-width: $break_sm - 1px){
      font-size: 10px;
      line-height: 16px;
    }
  }
}