@import "../../scss/config";

.BasketAction {
  position: relative;

  &-NavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 21px;
    text-decoration: none;
    color: $black;

    @media screen and (max-width: $break_sm - 1px){
      padding: 13px;
    }

    &:after {
      content: attr(data-basket-qty);
      align-self: flex-end;
      font-size: 12px;
      line-height: 20px;
    }

    &_active {
      &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 2px;
        width: 100%;
        z-index: 1000;
        background-color: $black;
      }
    }
  }

  &-Icon {
    height: 22px;
    width: auto;

    path {
      stroke: $black;
    }
  }

  &-Preview {
    position: absolute;
    top: 54px;
    right: -8px;
    z-index: 1000;
    padding: 22px 8px 8px 8px;
  }

  &-PreviewContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 254px;
    width: 272px;
    padding: 12px;
    background-color: $white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
  }

  &-Products {
    width: 100%;
    margin-bottom: 16px;
  }

  &-Product {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &Image {
      height: 76px;
      width: 68px;
    }

    &Props {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 16px;
      border-bottom: 1px solid $gray;
    }

    &Name {
      font-size: 12px;
      line-height: 22px;
    }

    &Price {
      margin-top: auto;
      margin-bottom: 6px;
    }

    &Qty {
      font-weight: 500;
      color: $dark-gray;
    }

    &PriceValue {
      font-weight: 500;
    }
  }
  
  &-Button {
    &.Button {
      width: 100%;
      margin-top: auto;

      .Button-Text {
        text-transform: uppercase;
      }
    }
  }

  &-EmptyImage {
    width: 80px;
    height: auto;
    margin: 16px 0;
  }

  &-EmptyText {
    margin-bottom: 24px;
  }
}